* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato", Sans-serif;
}

body {
    color: #ffffff;
    --cor-branca: #ffffff;
    --cor-primaria: rgba(105, 47, 230, 0.656);
    --cor-secundaria: #cd8cee;
    --cor-terciaria: #220433;
    background: linear-gradient(0deg, rgb(146, 11, 177) 0%, rgb(39, 26, 39)100%);
}

.container {
    display: flex;
}

.container-aside {
    width: 210px;
    background-color: var(--cor-secundaria);
}

.aside-conteudo {
    margin-top: 60px;
}

.linkedin-github {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.linkedin-github img {
    width: 40px;
}

.linkedin-github img:hover {
    width:46px;
}
.minhaJornada,
.meuNetworking {
    border: solid 1px #deaff8;
    border-radius: 5px;
    padding: 20px 30px;
}

.olaMundo,
.minha-jornada,
.meu-networking {
    color: var(--cor-secundaria);
    font-weight: bolder;
    margin-bottom: 10px;
}

.container-imgs {
    margin-top: 100px;
}

.foto-perfil {
    width: 170px;
    height: 170px;
    border-radius: 185px;
    border: 1px solid #220433;
    padding: 5px;
    text-align: center;
    background-color: var(--cor-terciaria);
}

.nome {
    text-align: center;
    font-weight: bolder;
}

.nome :hover {
    color: var(--cor-terciaria);
}

.container-conteudos {
    margin: 50px;
}


.apresentacao,
.contatos,
.minhaJornada {
    margin-bottom: 25px;
}


.dados-pessoais {
    display: flex;
    margin-left: 40px;
}

.dados-pessoais p:hover {
    background-color: var(--cor-secundaria);
    padding: 1px 2px;
    font-weight: bold;
}

.dados-pessoais p {
    margin-left: 10px;
}

.container-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


p {
    line-height: 25px;

}

.title :hover {
    color: var(--cor-secundaria);
}

.card {
    width: 220px;
    height: 220px;
    margin: 80px 60px;
    display: inline-block;
    text-align: center;
}


.card a {
    color: var(--cor-branca);
    text-decoration: none;
    font-size: 15px;
}

.card a:hover {
    color: var(--cor-terciaria);
    font-weight: 900;
}



.card p:hover {
    color: var(--cor-secundaria);
    padding: 1px 2px;
    font-weight: bold;
}

.img-card {
    width: 250px;
    height: 250px;
    border-radius: 280px;
    border: 2px solid var(--cor-branca);
}

.whatsapp {
    display: flex;
    position: fixed;
    bottom: 7%;
    right: 2%;
}


footer {
    background-color: var(--cor-terciaria);
    width: 100%;
    height: 50px;
    text-align: center;
}

.direitos {
    padding-top: 20px;
}


